#titleArea {
    animation: slideToRight 0.8s linear forwards;
}

#tableArea {
    animation: fadeIn 1.25s linear forwards;
}

#reviewArea {
    animation: slideToLeft 0.75s linear forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideToRight {
    from {
        left: -50px;
        top: 0;
        opacity: 0;
    }
    to {
        left: 0;
        top: 0;
        opacity: 1;
    }
}

@keyframes slideToLeft {
    from {
        left: 50px;
        top: 0;
        opacity: 0;

    }
    to {
        left: 0;
        top: 0;
        opacity: 1;
    }
}